{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/public/css/profile.css">

{{/section}}

{{#section 'title'}}
<title>Admin Chỉnh sửa thông tin cá nhân</title>
{{/section}}

{{#section 'js'}}
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    $('#formResetPass').on('submit', function (e) {
        e.preventDefault();
        
        let url = this.action;
        console.log(url);
        $.post(url, function(data){
            swal({
                title: "Thành công!",
                text: "Reset mật khẩu thành công!",
                icon: "success",
                button: "Đóng!",
            });
        clearPassForm();
        })
    });

    $('#formGeneralInfor').on('submit', function (e) {
        e.preventDefault();
        if (isEmptyText('txtName', "Name"))
            return;
        const name = $('#txtName').val();
        const catid = $('#catid').val();
        console.log(catid);
        $.getJSON(`/admin/category/existed-cate?catName=${name}&&catid=${catid}`, function (data) {
            if(data == true){
                window.alert('trung ten');
                return;
            }
            console.log(data);
            $('#formGeneralInfor').off('submit').submit();
        });
    });

    function isEmptyText(idtext, message) {
        const text = $(`#${idtext}`).val();
        if (text.length === 0 || text === `__/__/____`) {
            alert(`Invalid ${message}`);
            $(`#${idtext}`).focus();
            return true;
        }
        return false;
    }
</script>
{{/section}}
{{> header-top}}
<div class="container">
    <br>
    <div class="row chinhsuathongtin">
        <div class="col-md-8">
            <div class="wrap-column">
                <h2>Chỉnh sửa chuyên mục </h2>
                <form action="/admin/category/edit?cateid={{cateID}}" method="POST" id="formGeneralInfor">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtDOB">ID</label>
                                <input class="form-control mb-2" name="catid" id="catid"
                                    value="{{cateID}}"  disabled/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtName">Tên chuyên mục</label>
                                <input class="form-control mb-2" type="text" name="name" id="txtName"
                                    placeholder="Tên chuyên mục" value="{{cateName}}" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" >
                    <label for="selectedCat">Chuyên mục cha</label>
                    <select class="form-control" id="selectedCat" name="category">
                        {{#if isDad}}
                            <option value="0" selected="selected">Không có</option>
                            {{#each this.list_dad}}
                            <option value="{{ID}}">{{Name}}</option>
                            {{/each}}
                        {{else}}
                            <option value="0">Không có</option>
                            {{#each this.list_dad}}
                            <option value="{{ID}}" {{#if selected}}selected="selected" {{/if}}>{{Name}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                    </div>
                    <div class="form-group form-button ">
                        <button type="submit" name="signup" id="signup" class="btn form-submit">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
            <br>

        </div>

        <div class="col-md-4">
            
             <img src="/public/template/img/news/news_card.jpg" class="d-block"
                style=" width: 75%; margin-left: auto; margin-right: auto" alt="">
           

        </div>
    </div>
    <br>
</div>