{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/public/css/quanlipost-user-cate.css">

<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" href="/public/css/profile.css">
<style>
    .active_page {
        background-color: #d63031;
        color: white !important;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(102, 102, 102);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }
    .card{
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        /*transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);*/
        
    }

    .card:hover{
        /*transform: scale(1.05); */
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    #dropdownMenuButton{
        cursor: pointer;
    }
</style>
{{/section}}

{{#section 'title'}}
<title>Admin Chỉnh sửa thông tin cá nhân</title>
{{/section}}

{{#section 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script>
    $('#txtDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
        maxDate: new Date()
    });
    $('.duyet').click(function(){
        let userid = this.id;
        
        $.get(`/admin/user/acceptsub?userid=${userid}`,function(data){
            var str ="#dangkypremium" + userid;
            var cont = '<span class="badge badge-pill badge-success">Đã kích hoạt Premium</span> <hr>'
            $(str).html(cont);
        });
    });
    $('.huypremium').click(function(){
        let userid = this.id;
        Swal.fire({
            title: 'Bạn có muốn huỷ Premium của người dùng này?',
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.get(`/admin/user/cancelpremium?userid=${userid}`, function (data) {
                    var str ="#huypremium" + userid;
                    var cont = '<span class="badge badge-pill badge-primary">Đã huỷ Premium</span> <hr>'
                    $(str).html(cont);
                    Swal.fire({
                        icon: 'success',
                        title: 'Đã huỷ Premium thành công',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                    })
                })
                    .fail((data, status) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Không thể huỷ Premium!',
                        })
                    });
            }
        })
        
    });
    $('#formResetPass').on('submit', function (e) {
        e.preventDefault();
        let url = this.action;
        Swal.fire({
            title: 'Bạn có muốn reset mật khẩu?',
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.post(url, function(data){
                    Swal.fire({
                        icon: 'success',
                        title: 'Reset mật khẩu thành công',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                    })
                })
                
            }
        })
        
    });

    $('#formGeneralInfor').on('submit', function (e) {
        e.preventDefault();
        if (isEmptyText('txtName', "Name")){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Tên người dùng không thể rỗng!',
            })
            $('#txtName').focus();
            return;
        }
            
        if (isEmptyText('txtEmail', "Email")){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Email người dùng không thể rỗng!',
            })
            $('#txtEmail').focus();
            return;
        }
        if (isEmptyText('txtDOB', "Date of Birth")){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Ngày sinh nhật không thể rỗng!',
            })
            return;
        }
        if (isEmptyText('txtAddress', "Address")){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Địa chỉ không thể rỗng!',
            })
            $('#txtAddress').focus();
            return;
        }
        if (!isValidEmail($('#txtEmail').val())) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Email không hợp lệ!',
                })
                $('#txtEmail').focus();
                return;
        }
        const email = $(`#txtEmail`).val();
        $.getJSON(`/check-exist-email?email=${email}`, function(data){
            console.log(data);
            usname = $(`#txtusername`).val();
            if (data != false && data!= usname){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Email không khả dụng!',
                })
                $('#txtEmail').focus();
                return;
            }
            Swal.fire({
                title: 'Bạn có muốn lưu thay đổi?',
                showCancelButton: true,
                confirmButtonText: 'Xác nhận',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                            icon: 'success',
                            title: 'Lưu thông tin người dùng thành công',
                            showConfirmButton: true,
                            confirmButtonColor: '#3085d6',
                        })
                    $('#formGeneralInfor').off('submit').submit();
                }
            });
        });
    });

    function isValidEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function isEmptyText(idtext, message) {
        const text = $(`#${idtext}`).val();
        if (text.length === 0 || text === `__/__/____`) {
            
            return true;
        }
        return false;
    }

    function clearPassForm() {
        $("#txtOldPass").val("");
        $("#txtNewPass").val("");
        $("#txtRepNewPass").val("");
    }
    $('#dangkypremium').click(function(){
        let userid = this.id;
        
        $.post(`/subcriber/subpremium?userid=${userid}`,function(data){
            //var str ="#content_accept" + userid;
            var cont = '<p> Bạn đã đăng ký thành công, hãy chờ admin duyệt nhé </p>'
            $('#dangkypremium').html(cont);
            
        });
    });
</script>
{{/section}}
{{> header-top}}
<div class="container">
    <br>
    <div class="row chinhsuathongtin">
        <div class="col-md-8">
            <div class="wrap-column">
                <h2>Chỉnh sửa thông tin cơ bản</h2>
                <form {{#if user.writer}}
                    action="/admin/user/edit/writer?userid={{user.ID}}" {{/if}} {{#if user.sub}}
                    action="/admin/user/edit/subcriber?userid={{user.ID}}" {{/if}} {{#if user.editor}}
                    action="/admin/user/edit/editor?userid={{user.ID}}" {{/if}} method="POST" id="formGeneralInfor">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtDOB">ID</label>
                                <input class="form-control mb-2" name="ulserid"
                                    value="{{user.ID}}"  disabled/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtusername">Username</label>
                                <input class="form-control mb-2" name="username" id="txtusername"
                                    value="{{user.UserName}}"  disabled/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtName">Họ và tên</label>
                                <input class="form-control mb-2" type="text" name="name" id="txtName"
                                    placeholder="Họ tên" value="{{user.Name}}" />
                            </div>
                        </div>
                    </div>

                    {{#if user.sub}}
                        {{#if user.ExpTime}}
                        
                        <div class="form-group">
                            <label for="txtNickname">Expired date:</label>
                            <span class="ml-1">{{user.ExpTime}}</span>
                        </div>
                        <div id="{{user.ID}}" class="huypremium" >
                            <a style="cursor: pointer;" id="huypremium{{user.ID}}">
                                <span class="badge badge-danger">Huỷ Premium</span>
                                <hr>
                            </a>
                        </div>
                        {{else}}
                        <div id="{{user.ID}}" class="duyet" >
                            <a style="cursor: pointer;" id="dangkypremium{{user.ID}}">
                                <span class="badge badge-danger">Kích hoạt Premium</span>
                                <hr>
                            </a>
                        </div>
                        
                        {{/if}}
                    {{/if}}

                    {{#if user.writer}}
                    <div class="form-group">
                        <label for="txtNickname">Bút danh</label>
                        <input class="form-control mb-2" type="text" name="nickname" id="txtNickname"
                            placeholder="Bút danh" value="{{user.NickName}}" />
                    </div>
                    {{/if}}
                    {{#if user.editor}}
                    <div class="form-group" >
                    <label for="selectedCat">Quản lý chuyên mục</label>
                    <select class="form-control" id="selectedCat" name="category">
                        {{#each this.list_cat}}
                        <option value="{{ID}}" {{#if selected}}selected="selected" {{/if}}>{{Name}}</option>
                        {{/each}}
                    </select>
                    </div>
                    
                    {{/if}}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtEmail">Email</label>
                                <input class="form-control mb-2" type="text" name="email" id="txtEmail"
                                    placeholder="Email" value="{{user.Email}}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txtDOB"><i class="fa fa-birthday-cake"></i> Sinh Nhật</label>
                                <input class="form-control mb-2" type="text" name="birthday" id="txtDOB"
                                    value="{{user.BirthDay}}" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtAddress">Địa chỉ</label>
                        <input class="form-control mb-2" type="text" name="address" id="txtAddress"
                            placeholder="Address" value="{{user.Address}}" />
                    </div>

                    <div class="form-group form-button ">
                        <button type="submit" name="signup" id="signup" class="btn form-submit">Lưu thay đổi</button>
                    </div>
                </form>
            </div>
            <br>
            {{#if user.social}}
            {{else}}
            <div class="wrap-column">
                <h2>Reset mật khẩu</h2> <!--mk mặc định là role -->
                <form id="formResetPass" {{#if user.writer}}
                    action="/admin/user/reset/writer?userid={{user.ID}}" {{/if}} {{#if user.sub}}
                    action="/admin/user/reset/subcriber?userid={{user.ID}}" {{/if}} {{#if user.editor}}
                    action="/admin/user/reset/editor?userid={{user.ID}}" {{/if}} method="POST">
                    <div class="form-group form-button">
                        <button type="submit" name="resetpass" id="resetpass" class="btn form-submit">Reset</button>
                    </div>
                </form>
            </div>
            {{/if}}

        </div>

        <div class="col-md-4">
            
             <img src="/public/template/img/news/news_card.jpg" class="d-block"
                style=" width: 75%; margin-left: auto; margin-right: auto" alt="">

        </div>
    </div>
    <br>
</div>