
{{#section 'js'}}
<script>
 {{!-- $('.sendOTP').on('submit', function(e) {
    e.preventDefault();
    const otp = $('#txtOTP');
    if (otp.val().length === 0){
      alert( `$OTP is empty` );
      otp.focus();
      return true;
    }
    $('.sendOTP').off('submit').submit();
  }); --}}
</script>
{{/section}}

{{#section 'title'}}
<title>Nhập OTP</title>
{{/section}}

{{#section 'css'}}
    <!-- Font Icon -->
    <link rel="stylesheet" href="../../public/css/template/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}


    <div class="main">

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../../public/image/signin-image.jpg" alt="sing up image"></figure>
                        {{!-- <a href="/register" class="signup-image-link">Create an account</a> --}}
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Nhập OTP</h2>
                        <div class="contact">
                          <form method="POST" action="/getOTP" class="sendOTP">
                          {{#if err_message}}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              {{err_message}}
                            </div>
                        {{/if}}
                        {{#eq not_registered false}}
                            <input type="text" name="register" value="1" class="invisible">
                            <input type="text" name="email" value="{{email}}" class="invisible">
                          {{#if activeAccount}}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <p>Tài khoản của bạn chưa kích hoạt.</p>
                              <p>Vui lòng nhập mã OTP được gửi từ email newspaper.vuonghieutrinh@gmail.com đến email của bạn: {{email}} để lấy mã OTP.</p>
                            </div>
                        {{else}}
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <p>Bạn đã đăng kí thành công.</p>
                               <p>Vui lòng nhập OTP được gửi từ email newspaper.vuonghieutrinh@gmail.com đến email của bạn: {{email}} để kích hoạt tài khoản.</p>
                            </div>
                        {{/if}}
                        {{/eq}}
                            {{this.msg}}
                            <p>
                              {{!-- <label>Enter otp</label> --}}
                              <input type="text" name="otp" required="required">
                            </p>
                            <p class="full">
                              <button type="submit">Xác nhận</button>
                            </p>
                          </form>

                          <br>
                          {{#if this.not_registered}}
                          <form method="POST" action="/reset-password/resendOTP">
                            <p class="full">
                              <button type="submit">Gửi lại OTP</button>
                            </p>
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>