<style>
    .info li {
        display: inline-block;
    }

    .info {
        display: inline-block;
    }

    .info li a.dropdown-item:hover  {
        background-color: rgb(202, 200, 204);
    }

    .dropdown-toggle::after {
        margin-left: 0;
    }
</style>
<div class="header-bottom header-sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                <!-- sticky -->
                <div class="sticky-logo">
                    <a href="index.html"><img src="/public/template/img/logo/logo.png" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-md-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                            {{#each lcCategories}}
                            <li><a href="/post/category/{{ID}}">{{Name}}</a>
                                <ul class="submenu">
                                    {{#each child}}
                                    <li><a href="/post/category/{{ID}}">{{Name}}</a></li>
                                    {{/each}}

                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-xl-2 col-lg-2 col-md-2 d-flex align-items-center">
                <ul class="info">
                    {{#if session.user.logged}}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="color: white;">
                            Hi, <b class="text-white" id="tennguoidung">{{session.user.name}}</b>
                        </a>
                        {{#if session.user.subcriber}}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/subcriber">
                                Quản lý tài khoản
                            </a>
                            <a class="dropdown-item" href="/signout">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                Đăng xuất
                            </a>
                        </div>
                        {{/if}}
                        {{#if session.user.admin}}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin">
                                Quản lý tài khoản
                            </a>
                            <a class="dropdown-item" href="/admin/user/manage">
                                Quản lý người dùng
                            </a>
                            <a class="dropdown-item" href="/admin/category/manage">
                                Quản lý chuyên mục
                            </a>
                            <a class="dropdown-item" href="/admin/post/manage">
                                Quản lý bài viết
                            </a>
                            <a class="dropdown-item" href="/admin/tag/manage">
                                Quản lý nhãn tag
                            </a>
                            <a class="dropdown-item" href="/signout">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                Đăng xuất
                            </a>
                        </div>
                        {{/if}}
                        {{#if session.user.editor}}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/editor">
                                Quản lý tài khoản
                            </a>
                            <a class="dropdown-item" href="/editor">
                                Quản lý bài viết
                            </a>
                            <a class="dropdown-item" href="/signout">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                Đăng xuất
                            </a>
                        </div>
                        {{/if}}
                        {{#if session.user.writer}}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/writer/editprofile">
                                Quản lý tài khoản
                            </a>
                            <a class="dropdown-item" href="/writer/write-post">
                                Viết bài mới
                            </a>
                            <a class="dropdown-item" href="/writer/managepost">
                                Quản lý bài viết
                            </a>
                            <a class="dropdown-item" href="/signout">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                Đăng xuất
                            </a>
                        </div>
                        {{/if}}

                    </li>
                    {{else}}
                    <li class="">
                        <a href="/register" style="color: white; padding: 2px">
                            Sign up
                        </a>
                    </li>
                    <li class="">
                        <a href="/login" style="color: white; padding: 2px">
                            Sign in
                        </a>
                    </li>
                    {{/if}}
                </ul>
                <div class="header-right f-right d-none d-lg-block">
                    <!-- Search Nav -->
                    <div class="nav-search search-switch">
                        <i class="fa fa-search" style="padding: 10px;"></i>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-md-none"></div>
            </div>
        </div>
    </div>
</div>

<!-- Nav Menu End -->


<!-- Search model Begin -->
<div class="search-model-box">
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->