
<style>
    .info li{
        display: inline-block;
    }

    .info {
        display: inline-block;
    }

    .info li:hover{
        font-weight: 500;
    }

    .dropdown-toggle::after {
        margin-left: 0;
    }

</style>
<div class="header-bottom header-sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                <!-- sticky -->
                <div class="sticky-logo">
                    <a href="index.html"><img src="/public/template/img/logo/logo.png" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-md-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
                            {{#each lcCategories}}
                            <li><a href="/post/category/{{ID}}">{{Name}}</a>
                                <ul class="submenu">
                                    {{#each child}}
                                    <li><a href="/post/category/{{ID}}">{{Name}}</a></li>
                                    {{/each}}

                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-xl-2 col-lg-2 col-md-2 d-flex align-items-center">
                <ul class="info">
                    {{#if session.user.logged}}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                            Hi, <b class="text-white" id="tennguoidung">{{session.user.name}}</b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/subcriber" style="color: black;">
                                <i class="fa fa-user" aria-hidden="true" style="color: black;"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signout" style="color: black;">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign Out
                            </a>
                        </div>
                    </li>
                    {{else}}
                    <li class="">
                        <a href="/register" style="color: white; padding: 2px">
                            Sign up
                        </a>
                    </li>
                    <li class="">
                        <a href="/login" style="color: white; padding: 2px">
                            Sign in
                        </a>
                    </li>
                    {{/if}}
                </ul>
                <div class="header-right f-right d-none d-lg-block">
                    <!-- Search Nav -->
                    <div class="nav-search search-switch">
                        <i class="fa fa-search" style="padding: 10px;"></i>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-md-none"></div>
            </div>
        </div>
    </div>
</div>

<!-- Nav Menu End -->