{{#section 'title'}}
<title>Trang chủ</title>
{{/section}}
{{#section 'js'}}
<script src="/public/template/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/public/template/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/owl.carousel.min.js"></script>
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/animated.headline.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.nice-select.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/contact.js"></script>
<script src="/public/template/js/jquery.form.js"></script>
<script src="/public/template/js/jquery.validate.min.js"></script>
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/plugins.js"></script>
<script src="/public/template/js/main.js"></script>
<script type="text/javascript">
    let date = new Date();
    let data = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
    $("#dmy").html(data)

</script>
<script src="public/js/jquery.flipster.min.js"></script>
<script>
    $('.my-flipster').flipster({
        style: 'carousel',
        spacing: 0,
        nav: true,
        buttons: true,
    });
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" type="text/css" href="/public/css/jquery.flipster.css">
<link rel="stylesheet" type="text/css" href="/public/css/homepage.css">
{{/section}}


<header>
    {{>header-top}}
</header>

<main>
    <!-- Tin Noi bat Start -->
    <div class="trending-area fix pt-25 gray-bg">
        <div class="container">
            <div class="trending-main">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Trending Top -->
                        <div class="slider-active">
                            <!-- Single -->
                            <div class="single-slider">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="../public/image/posts/{{this.top3HighLightPost.0.ID}}/smallavt.jpg"
                                            alt="" class="img-fluid">
                                        <div class="trend-top-cap">

                                            <a href="/post/category/{{this.top3HighLightPost.0.ID}}">
                                                <span class="bgr" data-animation="fadeInUp" data-delay=".2s"
                                                    data-duration="1000ms">{{this.top3HighLightPost.0.CateName}}</span></a>
                                            <h2><a href="/read/{{this.top3HighLightPost.0.ID}}"
                                                    data-animation="fadeInUp" data-delay=".4s"
                                                    data-duration="1000ms">{{this.top3HighLightPost.0.TieuDe}}</a></h2>
                                            <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">
                                                {{this.top3HighLightPost.0.NgayDang}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right content -->
                    <div class="col-lg-4">
                        <!-- Trending Top -->
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="../public/image/posts/{{this.top3HighLightPost.1.ID}}/smallavt.jpg"
                                            alt="" class="img-fluid">
                                        <div class="trend-top-cap trend-top-cap2">
                                            <a href="/post/category/{{this.top3HighLightPost.1.ID}}">
                                                <span class="bgb">{{this.top3HighLightPost.1.CateName}}</span>
                                            </a>
                                            <h2><a
                                                    href="/read/{{this.top3HighLightPost.1.ID}}">{{this.top3HighLightPost.1.TieuDe}}</a>
                                            </h2>
                                            <p>{{this.top3HighLightPost.1.NgayDang}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="../public/image/posts/{{this.top3HighLightPost.2.ID}}/smallavt.jpg"
                                            alt="" class="img-fluid">
                                        <div class="trend-top-cap trend-top-cap2">
                                            <a href="/post/category/{{this.top3HighLightPost.2.ID}}">
                                                <span class="bgb">{{this.top3HighLightPost.2.CateName}}</span>
                                            </a>
                                            <h2><a
                                                    href="/read/{{this.top3HighLightPost.2.ID}}">{{this.top3HighLightPost.2.TieuDe}}</a>
                                            </h2>
                                            <p>{{this.top3HighLightPost.2.NgayDang}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tin noi bat End -->

    <!-- Tin moi Start -->
    <section class="whats-news-area pt-50 pb-20 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="whats-news-wrapper">
                        <!-- Heading & Nav Button -->
                        <div class="row justify-content-between align-items-end mb-15">
                            <div class="col-xl-12">
                                <div class="section-tittle mb-30">
                                    <h3 style="color: rgb(233, 67, 94);">Bài viết mới nhất</h3>
                                </div>
                            </div>

                        </div>
                        <!-- Tab content -->
                        <div class="row">
                            <div class="col-12">
                                <!-- Nav Card -->
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- card one -->
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <!-- Left Details Caption -->
                                            {{#each this.top10PostNew}}
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10">
                                                <div class="whats-right-single mb-20">
                                                    <div class="whats-right-img">
                                                        <img src="../public/image/posts/{{ID}}/smallavt.jpg" alt="">
                                                    </div>
                                                    <div class="whats-right-cap">
                                                         <a href="/post/category/{{CateID}}" class="">
                                                            <span class="colorb">{{CateName}}</span>
                                                        </a>
                                                        <h4> {{#if Premium}}
                                                                    <span class="pt-0 pb-0 mb-0 mr-2"><a href="#"
                                                                            class="badge badge-warning mb-1 mt-1">Premium</a></span>
                                                                    {{/if}}<a href="/read/{{ID}}">{{TieuDe}}</a></h4>
                                                        <p class="mb-2">{{NgayDang}}</p>
                                                        <p>{{TomTat}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-45">
                <div class="col-lg-8 ">
                    <!-- Banner -->
                    <div class="banner-one h-100">
                        <img class="h-100" src="public/template/img/gallery/body_card1.png " alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Flow Socail -->
                    <div class="single-follow">
                        <div class="single-box">
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="public/template/img/news/icon-fb.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="public/template/img/news/icon-tw.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="public/template/img/news/icon-ins.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="public/template/img/news/icon-yo.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Tin moi nhat End -->

    <!-- Tin Pho Bien start -->
    <div class="weekly2-news-area pt-50 pb-30 gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <div class="row baivietphobien">
                    <!-- Banner -->
                    <div class="col-lg-3 h-100">
                        <div class="home-banner2 d-none d-lg-block">
                            <img  src="public/template/img/gallery/body_card2.png"
                                alt="">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="slider-wrapper h-100">
                            <!-- section Tittle -->
                            <div class="row ">
                                <div class="col-lg-12">
                                    <div class="">
                                        <h2><b style="color: rgb(233, 67, 94);">Bài viết phổ biến nhất</b></h2>
                                    </div>
                                </div>
                            </div>
                            <!-- Slider -->
                            <div class="row" >
                                <div class="col-lg-12">
                                    <div class="weekly2-news-active d-flex">
                                        <!-- Single -->
                                        {{#each this.top10PostMostRead}}
                                        <div class="weekly2-single">
                                            <div class="weekly2-img">
                                                <img class="anh" src="../public/image/posts/{{ID}}/smallavt.jpg" alt="">
                                            </div>
                                            <div class="weekly2-caption thongtin">
                                                <h4><a href="/read/{{ID}}">{{#if Premium}}
                                                        <span class="d-inline-block badge badge-warning">Premium</span>
                                                        {{/if}}{{TieuDe}} </a>
                                                </h4>
                                                <div>
                                                    <p class="d-inline-block"><span class="mb-2 mr-2">{{NgayDang}}</span></p>
                                                    <span><a href="/post/category/{{CateID}}"
                                                            class="badge badge-danger float-right">{{CateName}}</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 10 chuyen muc noi bat nhat  Start -->
    <div class="recent-articles pt-40 pb-40">
        <div class="container">
            <div class="recent-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle ">
                            <h3 style="color: rgb(233, 67, 94);">Top 10 chuyên mục nổi bật</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-flipster">
                <ul class="top10danhmuc">

                    {{#each this.listCate1Post }}

                    <li data-flip-title="{{CateName}}" data-flip-category="{{ParentCateName}}">
                        <div class="one-top10danhmuc">
                            <img src="../public/image/posts/{{this.post.0.ID}}/smallavt.jpg" alt="" srcset="">
                            <div class="info red">
                                <a class="tieude" href="read/{{post.0.ID}}">{{post.0.Title}}</a>
                                <span class="ngay">{{getDate post.0.PubTime}}</span>
                                <a class="d-inline-block float-right" href="/post/category/{{CateID}}"><span
                                        class="badge badge-danger ">{{CateName}}</span></a>
                            </div>
                        </div>
                    </li>

                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
    <!-- 10 chuyen muc noi bat nhat  End -->
</main>
{{> footer}}