{{#section 'title'}}
<title>Search</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet" href="/public/css/dsPostTheoCateTag.css">
{{/section}}

{{#section 'js'}}

<!-- Jquery, Popper, Bootstrap -->

<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>
{{/section}}

{{> header-top}}

<div class="about-area2 gray-bg pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="whats-news-wrapper mb-3">
                    <h3>Trang {{cur_page}} - Kết quả phù hợp cho <span
                            class="badge badge-danger">#{{search_text}}</span></h3>
                </div>
                {{#each this.list_posts}}
                <div class="whats-news-wrapper mb-3">
                    <div class="row hangdanhmuc">
                        <!-- Phan thong tin ben trai-->
                        <div class="col-xl-8 col-lg-8 col-md-12">
                            <div class="whats-news-single">
                                <div class="whates-caption whates-caption2">
                                    <h4><a href="/read/{{ID}}">{{Title}}</a></h4>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-inline-block">
                                            <span class="d-inline-block mb-2">{{PubTime}}</span>
                                            {{#if Premium}}
                                            <span class="d-inline-block badge badge-warning">Premium</span>
                                            {{/if}}
                                        </div>
                                        <div class="d-inline-block">
                                            <span class="d-inline-block ">{{Writer.NickName}}</span>
                                            <span class="d-inline-block  badge badge-pill badge-danger text-white"><i
                                                    class="fas fa-eye"></i> {{Views}}</span>
                                        </div>
                                    </div>
                                    <p>{{Abstract}}</p>
                                </div>
                                <div>
                                    <i class="fas fa-tags"></i>
                                    {{#each this.tags}}
                                    <span><a href="/post/tag/{{ID}}" class="badge badge-danger">{{Name}}</a></span>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <!-- Phan Anh ben phai-->
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="anhdanhmuc">
                                <img src="/public/image/posts/{{ID}}/smallavt.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                <!--Start pagination -->
                <div class="whats-news-wrapper mb-3">
                    <nav class="justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="http://localhost:3000/search?text_search={{this.search_text}}&page={{prev_page}}"
                                    class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {{#each this.list_page}}
                            <li class="page-item">
                                <a href="http://localhost:3000/search?text_search={{search_text}}&page={{page}}"
                                    class="page-link">{{page}}</a>
                            </li>
                            {{/each}}
                            <li class="page-item">
                                <a href="http://localhost:3000/search?text_search={{search_text}}&page={{next_page}}"
                                    class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End pagination  -->
            </div>
        </div>
    </div>
</div>
{{> footer}}
