{{#section 'title'}}
<title>Quản lý chuyên mục</title>
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/public/css/quanlipost-user-cate.css">

<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<style>
    /*.active_page{
        background-color: rgb(216, 2, 134);
        color: red;
    }*/
    .active_page {
        background-color: #d63031;
        color: white !important;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(102, 102, 102);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #757575;
    }
    .card{
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        /*transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);*/
        
    }

    .card:hover{
        /*transform: scale(1.05); */
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    #dropdownMenuButton{
        cursor: pointer;
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.xoa').click(function (e) {
            e.preventDefault();
            var catID = parseInt(this.id)
            console.log(catID)
            Swal.fire({
                title: 'Bạn muốn xóa chuyên mục này?',
                showCancelButton: true,
                confirmButtonText: 'Xác nhận',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('/admin/category/del', { catID }, function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Xóa chuyên mục thành công',
                            showConfirmButton: true,
                            confirmButtonColor: '#3085d6',
                        })
                            .then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload()
                                }
                            })
                    })
                        .fail((data, status) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Không thể xóa chuyên mục!',
                            })
                        });
                }
            })
        })
    });
    $("#addCateFrm").on("submit", function(e) {
        var postData = $(this).serializeArray();
        console.log(postData);
        var formURL = $(this).attr("action");
        $.ajax({
            url: formURL,
            type: "POST",
            data: postData,
            success: function(data, textStatus, jqXHR) {
                console.log(data);
                $('#add_cate .modal-header .modal-title').html("Result");
                $('#add_cate .modal-body').html(data);
                $("#submitForm").remove();
                $("#closeModal").removeAttr('data-dismiss');
                $("#close_icon").removeAttr('data-dismiss');
                $("#closeModal").click(function() {
                    window.location = "/admin/category/manage"
                });
                $("#close_icon").click(function() {
                    window.location = "/admin/category/manage"
                });
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });
        e.preventDefault();
    });
     
    $("#submitForm").on('click', function() {
        catName = $('#cat_name').val();
        if (catName.length===0){
            $('#error_message').html('Chuyên mục không thể rỗng');
            return;
        }
        $.getJSON(`/admin/category/existed-cate?catName=${catName}`, function (data){
            if (data){
                $('#error_message').html('Chuyên mục này đã tồn tại.');
                return;
            }
            $("#addCateFrm").submit();
        })
    });
</script>
{{/section}}
{{> header-top}}
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper pb-0">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Quản lý <b>Chuyên mục</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a data-toggle="modal" data-target="#add_cate" class="btn btn-secondary d-flex align-items-center"><i
                                class="material-icons">&#xE147;</i> <span>Thêm chuyên mục mới</span></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <table class="table">
            <thead>
                <tr style="background-color: #eb344f; text-align: center;color: #fff;">
                    <th scope="col" style="width:5%"></th>
                    <th scope="col" style="width:25%">Tên</th>
                    <th scope="col" style="width:15%">Đã duyệt</th>
                    <th scope="col" style="width:15%">Chưa duyệt</th>
                    <th scope="col" style="width:15%">Từ chối</th>
                    <th scope="col" style="width:15%">Tổng bài viết</th>
                    <th scope="col" style="width:10%">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each list_dad}}
                <tr style="background-color: rgb(248, 203, 224); text-align: center;border-radius:8px">
                    <td><i class="fa fa-angle-double-right" aria-hidden="true"></i></td>
                    <td>{{Name}}</td>
                    <td>{{accept}}</td>
                    <td>{{chuaduyet}}</td>
                    <td>{{refuse}}</td>
                    <td>{{numpost}}</td>
                    <td class="dropleft">
                        <i class=" material-icons" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            more_horiz
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"{{#eq numpost 0}} style="color: #afadad;" data-toggle="modal" data-target="#no_post"{{else}} href="/admin/post/manage?catID={{ID}}&catName={{Name}}"{{/eq}}>Danh sách bài viết</a>
                            <a class="dropdown-item" href="/admin/category/edit?catID={{ID}}&catName={{Name}}">Chỉnh sửa</a>
                            <a class="dropdown-item xoa" id="{{ID}}X" href="#">Xóa</a>
                        </div>
                    </td>
                </tr>
                {{#each child}}
                    
                <tr style="background-color: #fff; text-align: center;">
                    <td></td>
                    <td>{{Name}}</td></span>
                    <td>{{accept}}</td>
                    <td>{{chuaduyet}}</td>
                    <td>{{refuse}}</td>
                    <td>{{numpost}}</td>
                    <td class="dropleft">
                        <i class=" material-icons" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            more_horiz
                        </i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"{{#eq numpost 0}} style="color: #afadad;" data-toggle="modal" data-target="#no_post"{{else}} href="/admin/post/manage?catID={{ID}}&catName={{Name}}"{{/eq}}>Danh sách bài viết</a>
                            <a class="dropdown-item" href="/admin/category/edit?catID={{ID}}&catName={{Name}}">Chỉnh sửa</a>
                            <a class="dropdown-item xoa" id="{{ID}}X" href="#">Xóa</a>
                        </div>
                    </td>
                </tr>
                
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="add_cate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display: inline-flex;" >Thêm chuyên mục mới</h4>
                <button type="button" class="close right" id='close_icon' data-dismiss="modal">&times;</button>
            </div>
                <div class="modal-body">
                    <p id='error_message' class='text-danger'></p>
                    <form id="addCateFrm" action="/admin/category/add" method="POST">
                        <a style="width: 200px;"> Tên chuyên mục: </a> 
                        <input type="text" id='cat_name' name="cat_name" style="margin-left: 8px; height: 35px; border-radius: 5px; width: 205px; " ><br/>
                        <div class="form-group" style="margin-top: 20px; display: inline-flex; margin-bottom: 0px;" >
                            <label for="selectedCat" style="width: 200px; margin-top: 8px" >Chuyên mục cha: </label>
                            <select class="form-control" id="selectedCat" name="category">
                                 <option value="0" selected="selected">Không có</option>
                                {{#each this.list_dad}}
                                <option value="{{ID}}" >{{Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-light" data-dismiss="modal">Đóng</button>
                    <button type="button" id="submitForm" class="btn btn-success">Thêm chuyên mục</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}