{{#section 'css'}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/public/css/quanlipost-user-cate.css">
<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();


        $('.exit-button , .momoaoao').click(function (e) {
            e.preventDefault();
            $('.momoaoao').removeClass('hienra');
            $('.modal_box').removeClass('modal_show');
        });

        $('.xemchitiet').click(function (e) {
            e.preventDefault();
            const postID = $(this).get(0).id;
            console.log(postID);
            $.getJSON(`/admin/get-detail-post?postID=${postID}`, function (data) {
                console.log(data);
                $('.momoaoao').addClass('hienra');
                $('.modal_ef').addClass('modal_show');
            })
            //TODO: goi ajax

        });
    });
</script>
{{/section}}

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper pb-0">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Quản lý <b>Bài viết</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="/admin/post/add" class="btn btn-secondary d-flex align-items-center"><i
                                class="material-icons">&#xE147;</i> <span>Thêm bài viết mới</span></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="table-wrapper">
            <table class="table table-striped table-hover table-post">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Thumbails</th>
                        <th>Tiêu đề</th>
                        <th>Ngày viết</th>
                        <th>Ngày XB</th>
                        <th>Tác giả</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list_posts}}
                    <tr>
                        <td>{{math @index '+' 1}}</td>
                        <td class="thumbnail"><img
                                src="http://localhost:3000/public/image/posts/{{ID}}/smallavt.jpg"
                                alt="" srcset=""></td>
                        <td>{{Title}}</td>
                        <td>{{WriteTime}}</td>
                        <td>{{PubTime}}</td>
                        <td class="tacgia">
                            <img src="http://localhost:3000/public/image/users/writers/{{Writer.ID}}/avt.jpg" alt="" srcset="">
                            {{Writer.Name}}
                        </td>
                        <td><span class="badge badge-pill badge-primary">{{CatName}}</span></td>
                        <td class="td-status"><span class="status 
                        {{#switch StateID}}
                            {{#case 1}}text-success">&bull;</span> Đã duyệt{{/case}}
                            {{#case 0}}text-warning">&bull;</span> Chờ duyệt{{/case}}
                            {{#case -2}}text-warning">&bull;</span> Chờ duyệt{{/case}}
                            {{#case -1}}text-danger">&bull;</span> Bị từ chối{{/case}}
                        {{/switch}}
                        </td>
                        <td class="dropleft">
                            <i class=" material-icons" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                more_horiz
                            </i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item xemchitiet" href="#" id="{{ID}}">Xem chi tiết</a>
                                <a class="dropdown-item" href="/admin/post/edit?postID={{ID}}">Chỉnh sửa</a>
                                <a class="dropdown-item" href="/admin/post/del?postID={{ID}}">Xóa</a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>

<div class="modal_box modal_ef modal_box-chitietpost">
    <div class="modal_content modal_content-chitietpost">
        <div class="row">
            <div class="col-md-8 phai">
                <div class="wrapper">
                    <h1><b>{{detail_post.Title}}</b></h1>
                    <br>
                    <br>
                    <h2>Tóm tắt</h2>
                    <p>{{detail_post.Abstract}}</p>
                    <br>
                    <br>
                    <h2>Danh mục <span class="badge badge-primary">{{detail_post.CatName}}</span></h2>
                    <br>
                    <br>
                    <h2>Nội Dung</h2>
                    <div>{{{detail_post.Content}}}</div>
                </div>

            </div>
            <div class="col-md-4 trai" style="height: 85vh">
                <div class="wrapper" style="height: 25%">
                    <div class=" tacgia">
                        <div>
                            <h2>Tác giả</h2>
                            <p>{{detail_post.Writer.Name}}</p>
                            <p>Ngày viết: <b>{{detail_post.WriteTime}}</b></p>
                            <p>Tình trạng: <span class="badge badge-primary">
                                
                                {{#switch detail_post.StateID}}
                                    {{#case 1}}Đã duyệt{{/case}}
                                    {{#case 0}}Chờ duyệt{{/case}}
                                    {{#case -2}}Chờ duyệt{{/case}}
                                    {{#case -1}}Bị từ chối do {{detail_post.draft.Note}}{{/case}}
                                {{/switch}}
                            </span></p>
                        </div>

                        <img src="http://localhost:3000/public/image/users/writers/{{detail_post.Writer.ID}}/avt.jpg"
                            alt="" srcset="">
                    </div>
                </div>
                <!-- <br> -->
                <div class="wrapper tags" style="height: 25%">
                    <h2>Tags</h2>
                    <div>
                        {{#each detail_post.tags}}
                            <span class="badge badge-primary">{{Name}}</span>
                        {{/each}}
                    </div>
                </div>
                <!-- <br> -->
                <div class="wrapper thumbnail" style="height: 40%">
                    <h2>Ảnh đại diện</h2>
                    <img src="http://localhost:3000/public/image/posts/{{detail_post.ID}}/smallavt.jpg" alt=""
                        srcset="">
                </div>
            </div>
        </div>

    </div>
</div>


<div class="momoaoao"></div>
