{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
<link rel="stylesheet" href="/public/css/form-baiviet.css">
{{/section}}

{{#section 'title'}}
<title>APPROVE</title>
{{/section}}

{{#section 'js'}}
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
  $('#postID').attr('style', 'display:none;');
  $('#txtDFP').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
    minDate: new Date()
  });

  $('#frmApproveDraft').on('submit', function (e) {
    e.preventDefault();
    const txtDFP = $(`#txtDFP`);
    if (txtDFP.val().length === 0 || txtDFP.val() === `__/__/____`) {
      swal({
        title: "Thất bại !",
        text: "Vui lòng chọn ngày xuất bản",
        icon: "error",
        button: "Đóng!",
      });
      return;
    }
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
    if (checkboxes.length === 0) {
      swal({
        title: "Thất bại !",
        text: "Vui lòng chọn ít nhất một tag",
        icon: "error",
        button: "Đóng!",
      });
      return;
    }
    $('#frmApproveDraft').off('submit').submit();
  });
</script>
{{/section}}

{{> header-top}}
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2 style="font-weight: bold">
        Duyệt bài viết
      </h2>
    </div>
  </div>
  <br>
  <form class="row" method="post" id='frmApproveDraft'>
    <input type="text" id="postID" name="postID" value="{{postID}}">
    <div class="col-md-9">
      <div class="wrap-column">
        <div class="form-group">
          <label>Ảnh đại diện</label>
          <div style="margin:0 auto;text-align:center">
            <img src="http://localhost:3000/public/image/posts/{{postID}}/bigavt.jpg" class="rounded w-75 h-75">    
          </div>
        </div>
        <br>
        <div class="form-group ">
          <label>Tiêu đề</label>
          <input type="text" class="form-control inputtext-wrap-inside" size="3em" value="{{aPost.Title}}" disabled>
        </div>
        <br>
        <div class="form-group ">
          <label>Tóm tắt</label>
          <textarea type="text" class="form-control inputtext-wrap-inside" disabled>{{aPost.Abstract}}</textarea>
        </div>
        <br>
        <div class="form-group ">
          <label>Nội dung</label>
          <textarea rows="20" class="form-control" disabled>{{{aPost.Content}}}</textarea>
        </div>
        {{!-- <div class="form-group" style="margin-top: 2rem !important">
          <label>Ảnh đại diện</label>
          <input type="file" name="cover" id="fCover" class="form-control d-block" />
        </div> --}}
      </div>
    </div>

    <div class="col-md-3 ">
      <div class="form-group wrap-column ">
        <label for="selectedCat">Danh mục</label>
        <select class="form-control" id="selectedCat" name="category">
          {{#each this.list_cat}}
          <option value="{{ID}}" {{#if selected}}selected="selected" {{/if}}>{{Name}}</option>
          {{/each}}
        </select>
        <br>
        <div class="form-group" >
          <label for="txtDFP"><i class="fa fa-birthday-cake"></i> Ngày xuất bản</label>
          <input type="text" class="form-control inputtext-wrap-inside" name="raw_dfb" id="txtDFP"
            placeholder="Choose Date for Publish" />
        </div>
      </div>
      <br>
      <div class="form-group wrap-column" >
        <label for="selectedTag">Tags</label>
        <div class="div d-flex  showtag">
          {{#each this.list_tag}}

          <div class="form-check ">
            <input class="form-check-input" type="checkbox" value="{{ID}}" id="cbTag{{ID}}" name="tag" {{#if
              selected}}checked="checked" {{/if}} />
            <label class="form-check-label" for="cbTag{{ID}}">
              {{Name}}
            </label>
          </div>
          {{/each }}
        </div>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn custom-btn w-100 luubaiviet">
          Save
        </button>
      </div>
    </div>
  </form>
  <br>
</div>
{{> footer}}