
{{#section 'css'}}
{{/section}}

{{#section 'title'}}
<title>Editor A Post</title>
{{/section}}

{{#section 'js'}}
<script>
</script>
{{/section}}

                        <div class="">
                            <div class="single-post">
                                <div class="feature-img">
                                    <img class="img-fluid rounded w-100" src="/public/image/posts/{{this.post.ID}}/bigavt.jpg"
                                        alt="">
                                </div>
                                <div class="blog_details">
                                    <h1>{{this.post.Title}}</h1>
                                    <p>{{{this.post.Content}}}</p>
                                </div>
                            </div>
                            <span class="font-italic mr-1">Tags:
                            </span>
                            {{#each this.post.tags}}
                            <a href="/post/tag/{{ID}}"><span class="badge badge-danger">#{{Name}}</span></a>
                            {{/each}}
                        </div>
                        <div>
                            <a href="/editor/reject?postID={{post.ID}}" role="button">Reject Post</a>
                            <a href="/editor/approve?postID={{post.ID}}" role="button">Approve Post</a>
                        </div>