{{#section 'title'}}
<title>Hello Writer</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/owl.carousel.min.css">
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/public/css/quanlipost-user-cate.css">
{{/section}}

{{#section 'js'}}

<!-- Jquery, Popper, Bootstrap -->

<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>


<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{{/section}}

{{> header-top}}

<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper pb-0">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5 d-flex align-items-center">
            <h2 >Quản lý <b>Bài viết</b></h2>
          </div>
          <div class="col-sm-7">
            <a href="/writer/write-post" class="btn btn-secondary d-flex align-items-center thembaiviet"
              style="height: 50px;"><i style="font-size: xx-large;" class="material-icons">&#xE147;</i>
              <span style="font-size: large;">Thêm bài viết mới</span></a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="table-wrapper">
      <h1 class="text-center text-danger">Bị từ chối</h1>
      <table class="table table-striped table-hover bituchoi">
        <thead>
          <tr>
            <th>#</th>
            <th>Thumbails</th>
            <th class="tieude">Tiêu đề</th>
            <th>Rated Date</th>
            <th class="text-center">Category</th>
            <th class="editor">Edit by</th>
            <th class="lido">Lý do</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.rejected_posts_list}}
          <tr>
            <td>{{math @index "+" 1}}</td>
            <td><img src="/examples/images/avatar/1.jpg" class="avatar"></td>
            <td class="tieude">{{Title}}</td>
            <td>{{draft_info.RateTime}}</td>
            <td class="text-center">{{CatName}}</td>
            <td class="editor ">{{draft_info.EditorName}}</td>
            <td class="lido">{{draft_info.Note}}</td>
            <td class="text-center">
              <a href="/writer/post-detail/edit?postID={{ID}}" class="edit" title="Edit" data-toggle="tooltip"><i
                  class="material-icons text-warning">edit</i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <br>
    <br>

    <div class="table-wrapper">
      <h1 class="text-center text-warning">Chưa được duyệt</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Thumbails</th>
            <th>Tiêu đề</th>
            <th>Ngày viết</th>
            <th >Category</th>
            <th >Edit</th>
          </tr>

        </thead>
        <tbody>
          {{#each this.pending_posts_list}}
          <tr>
            <td>{{math @index "+" 1}}</td>
            <td><img src="/examples/images/avatar/1.jpg" class="avatar"></td>
            <td>{{Title}}</td>
            <td>{{WriteTime}}</td>
            <td >{{CatName}}</td>
            <td >
              <a href="/writer/post-detail/edit?postID={{ID}}" class="edit" title="Edit" data-toggle="tooltip"><i
                  class="material-icons text-warning">edit</i></a>
            </td>
          </tr>
          {{/each}}
          <tr>
        </tbody>
      </table>
    </div>

    <br>
    <br>

    <div class="table-wrapper">
      <h1 class="text-center text-primary">Chờ xuất bản</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Thumbails</th>
            <th>Tiêu đề</th>
            <th>Ngày viết</th>
            <th>Ngày XB</th>
            <th >Category</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.approved_not_publish_posts_list}}
          <tr>
            <td>{{math @index "+" 1}}</td>
            <td><img src="/examples/images/avatar/1.jpg" class="avatar"></td>
            <td>{{Title}}</td>
            <td>{{WriteTime}}</td>
            <td>{{PubTime}}</td>
            <td >{{CatName}}</td>
          </tr>
          <tr>
            {{/each}}
        </tbody>
      </table>
    </div>

    <br>
    <br>

    <div class="table-wrapper">
      <h1 class="text-center text-success">Đã xuất bản</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Thumbails</th>
            <th>Tiêu đề</th>
            <th>Ngày viết</th>
            <th>Ngày XB</th>
            <th>Category</th>
            <th >Lượt xem</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.published_posts_list}}
          <tr>
            <td>{{math @index "+" 1}}</td>
            <td><img src="/examples/images/avatar/1.jpg" class="avatar"></td>
            <td>{{Title}}</td>
            <td>{{WriteTime}}</td>
            <td>{{PubTime}}</td>
            <td class="">{{CatName}}</td>
            <td >
              <a class="edit text-success d-flex align-items-center justify-content-start" title="Lượt xem"
                data-toggle="tooltip"><i class="material-icons">remove_red_eye</i>
                {{Views}}</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>