{{#section 'title'}}
<title>
  {{#eq postID -1}}
  Tạo bài viết mới
  {{else}}
  Chỉnh sửa bài viết
  {{/eq}}
</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/template/css/ticker-style.css">
<link rel="stylesheet" href="/public/template/css/flaticon.css">
<link rel="stylesheet" href="/public/template/css/slicknav.css">
<link rel="stylesheet" href="/public/template/css/animate.min.css">
<link rel="stylesheet" href="/public/template/css/magnific-popup.css">
<link rel="stylesheet" href="/public/template/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/public/template/css/themify-icons.css">
<link rel="stylesheet" href="/public/template/css/slick.css">
<link rel="stylesheet" href="/public/template/css/nice-select.css">
<link rel="stylesheet" href="/public/template/css/style.css">

{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  crossorigin="anonymous"> --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
  crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/public/css/form-baiviet.css">
<script src="https://cdn.tiny.cloud/1/dhhkwbh1bpssqun6v5rx191tulg2rqvw4cuz8st7r8vvth6j/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtContent',
    plugins: 'paste image link autolink lists table media a11ychecker advcode casechange formatpainter linkchecker checklist mediaembed permanentpen advtable tinymcespellchecker',
    menubar: false,
    toolbar: 'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media |casechange checklist code',
    toolbar_mode: 'floating',
    image_title: true,
    automatic_uploads: true,
    file_picker_types: 'image',
    file_picker_callback: function (cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
      input.onchange = function () {
        var file = this.files[0];

        var reader = new FileReader();
        reader.onload = function () {
          var id = 'blobid' + (new Date()).getTime();
          var blobCache = tinymce.activeEditor.editorUpload.blobCache;
          var base64 = reader.result.split(',')[1];
          var blobInfo = blobCache.create(id, file, base64);
          blobCache.add(blobInfo);

          /* call the callback and populate the Title field with the file name */
          cb(blobInfo.blobUri(), { title: file.name });
        };
        reader.readAsDataURL(file);
      };

      input.click();
    },
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
  });
</script>
{{/section}}

{{#section 'js'}}
<!-- Jquery Mobile Menu -->
<script src="/public/template/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/public/template/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/public/template/js/wow.min.js"></script>
<script src="/public/template/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/public/template/js/jquery.scrollUp.min.js"></script>
<script src="/public/template/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/public/template/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/public/template/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>

<script>
  if ({{postID}}==-1){
    $('#fCover').fileinput({
      allowedFileExtensions: ['jpg', 'gif', 'png'],
      dropZoneEnabled: true,
      showUpload: false,
      showClose: false,
      fileActionSettings: {
        showDrag: false,
      },
      browseLabel: "Chọn ảnh",
      removeLabel: 'Xoá ảnh',
      dropZoneTitle: 'Kéo và thả ảnh tại đây',
      msgPlaceholder: 'Chọn ảnh',
    });
  }
  else{
    $('#fCover').fileinput({
      allowedFileExtensions: ['jpg', 'gif', 'png'],
      dropZoneEnabled: true,
      showUpload: false,
      fileActionSettings: {
        showDrag: false,
      },
      browseLabel: "Chọn ảnh",
      removeLabel: 'Xoá ảnh',
      dropZoneTitle: 'Kéo và thả ảnh tại đây',
      msgPlaceholder: 'Chọn ảnh',
      showClose: false,
      initialPreview: [
          `<img src="http://localhost:3000/public/image/posts/{{postID}}/bigavt.jpg" class='file-preview-image' alt='cover' title='cover'>`     
      ],
      overwriteInitial: true,
      initialPreviewShowDelete: false,
      initialCaption: 'cover.jpg',
    });
  }

  $('#frmWritePost').on('submit', function (e) {
    e.preventDefault();
    if (isEmptyText('txtTitle', "Title"))
      return;
    if (isEmptyText('txtAbstract', "Abstract"))
      return;
    temp = tinymce.get('txtContent').getContent();
    if (temp.length === 0) {
      alert(`Content is empty`);
      $(`#txtContent`).focus();
      return;
    }
    if ($('#fCover').get(0).files.length === 0) {
      alert(`A post need a cover`);
      $('#fCover').focus();
      return;
    }
    var array = [];
    var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
    if (checkboxes.length === 0) {
      alert(`You must take at least one tag for your post!`);
      return;
    }
    title = $('#txtTitle').val();
    postID = $('#postID').val();
    $.getJSON(`/writer/is_duplicate_post?title=${title}&postID=${postID}`, function (data) {
      if (data === false) {
        alert('You wrote a post having the same title. Please write another one!');
        $('#txtTitle').focus();
        return;
      }
      $('#frmWritePost').off('submit').submit();
    })
  });

  function isEmptyText(idtext, message) {
    const text = $(`#${idtext}`).val();
    if (text.length === 0) {
      alert(`${message} is empty`);
      $(`#${idtext}`).focus();
      return true;
    }
    return false;
  }
</script>
{{/section}}

{{> header-top}}

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2 style="font-weight: bold">
        {{#eq postID -1}}
        Viết bài mới
        {{else}}Chỉnh sửa bài viết
        {{/eq}}
      </h2>
    </div>
  </div>
  <br>
  <form class="row" id="frmWritePost" method="post" enctype="multipart/form-data">
    <div class="col-md-9">
      <div class="wrap-column">
        <div class="form-group ">
          <label for="txtTitle">Tiêu đề</label>
          <input type="text" name="title" id="txtTitle" class="form-control inputtext-wrap-inside"
            placeholder="Write post's Title here" size="3em" value="{{this.title}}">
        </div>
        <br>
        <div class="form-group ">
          <label for="txtAbstract">Tóm tắt</label>
          <textarea type="text" name="abstract" id="txtAbstract" class="form-control inputtext-wrap-inside"
            placeholder="Write post's Abstract here">{{this.abstract}}</textarea>
        </div>
        <br>
        <div class="form-group ">
          <label for="txtContent">Nội dung</label>
          <textarea rows="15" type="text" name="content" id="txtContent" class="form-control "
            placeholder="Write post's Content here">{{{this.content}}}</textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="fCover">Ảnh đại diện</label>
          <input type="file" name="cover" id="fCover" class="form-control d-block" />
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group wrap-column" >
        <label for="selectedCat">Danh mục</label>
        <select class="form-control" id="selectedCat" name="category">
          {{#each this.list_cat}}
          <option value="{{ID}}" {{#if selected}}selected="selected" {{/if}}>{{Name}}</option>
          {{/each}}
        </select>
      </div>
      <br>
      <div class="form-group wrap-column" >
        <label for="selectedTag">Tags</label>
        <div class="div d-flex  showtag">
          {{#each this.list_tag}}

          <div class="form-check ">
            <input class="form-check-input" type="checkbox" value="{{ID}}" id="cbTag{{ID}}" name="tag" {{#if
              selected}}checked="checked" {{/if}} />
            <label class="form-check-label" for="cbTag{{ID}}">
              {{Name}}
            </label>
          </div>
          {{/each }}
        </div>
      </div>
      <input id="postID" type="text" value="{{postID}}" name='postID' style="display:none">
      <br>
      <div class="form-group" >
        <button type="submit" class="btn custom-btn w-100 luubaiviet">
          Lưu
        </button>
      </div>
    </div>
  </form>
  <br>
</div>
{{> footer}}
