{{#section 'css'}}
<!-- CSS here -->
{{!--
<link rel="stylesheet" href="../../public/css/template/bootstrap.min.css"> --}}
<link rel="stylesheet" href="../../public/css/template/owl.carousel.min.css">
<link rel="stylesheet" href="../../public/css/template/ticker-style.css">
<link rel="stylesheet" href="../../public/css/template/flaticon.css">
<link rel="stylesheet" href="../../public/css/template/slicknav.css">
<link rel="stylesheet" href="../../public/css/template/animate.min.css">
<link rel="stylesheet" href="../../public/css/template/magnific-popup.css">
{{!--
<link rel="stylesheet" href="../../public/css/template/fontawesome-all.min.css"> --}}
<link rel="stylesheet" href="../../public/css/template/themify-icons.css">
<link rel="stylesheet" href="../../public/css/template/slick.css">
<link rel="stylesheet" href="../../public/css/template/nice-select.css">
<link rel="stylesheet" href="../../public/css/template/style.css">
<link rel="stylesheet" href="../../public/css/csscuahieu.css">
{{/section}}

{{#section 'js'}}
<!-- JS here -->
<script src="../../public/js/template/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery Mobile Menu -->
<script src="../../public/js/template/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../../public/js/template/owl.carousel.min.js"></script>
<script src="../../public/js/template/slick.min.js"></script>
<!-- Date Picker -->
<script src="../../public/js/template/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../../public/js/template/wow.min.js"></script>
<script src="../../public/js/template/animated.headline.js"></script>
<script src="../../public/js/template/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="../../public/js/template/jquery.scrollUp.min.js"></script>
<script src="../../public/js/template/jquery.nice-select.min.js"></script>
<script src="../../public/js/template/jquery.sticky.js"></script>

<!-- contact js -->
<script src="../../public/js/template/contact.js"></script>
<script src="../../public/js/template/jquery.form.js"></script>
<script src="../../public/js/template/jquery.validate.min.js"></script>
<script src="../../public/js/template/mail-script.js"></script>
<script src="../../public/js/template/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="../../public/js/template/plugins.js"></script>
<script src="../../public/js/template/main.js"></script>

<script>

</script>

{{/section}}


<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div>

<main>
    <!-- About US Start -->
    <div class="about-area2 gray-bg pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="whats-news-wrapper">
                        <!-- Heading & Nav Button -->
                        <div class="row justify-content-between align-items-end mb-15">
                            <div class="col-xl-4">
                                <div class="section-tittle mb-30 ml-15">
                                    <h3><a href="/post/category/{{this.Dad.ID}}">{{this.Dad.Name}}</a></h3>
                                </div>
                            </div>
                            <div class="col-xl-8 col-md-9">
                                <div class="properties__button">
                                    <!--Nav Button  -->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            {{#each this.Children}}
                                            <a class="nav-item nav-link active" href="/post/category/{{ID}}" role="tab"
                                                aria-selected="true">{{Name}}</a>
                                            {{/each}}
                                        </div>
                                    </nav>
                                    <!--End Nav Button  -->
                                </div>
                            </div>
                        </div>
                        <!-- Tab content -->
                        <div class="row">
                            <div class="col-12">
                                <!-- Nav Card -->
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- card one -->
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                        aria-labelledby="nav-home-tab">


                                        {{#each this.posts}}

                                        <div class="row hangdanhmuc pb-20 mb-20">
                                            <div class="col-xl-8 col-lg-8 col-md-12">
                                                <div class="whats-news-single">
                                                    <div class="whates-caption whates-caption2">
                                                        <h4><a href="/read/{{ID}}">{{TieuDe}}</a></h4>
                                                        <span class="mb-2">{{info this}}</span>
                                                        <p>{{TomTat}}</p>
                                                    </div>
                                                    <div>
                                                        {{#each this.tags}}
                                                        <span><a href="/post/tag/{{TagID}}"
                                                                class="badge badge-danger">{{Name}}</a></span>
                                                        {{/each}}

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-12">
                                                <div class="anhdanhmuc">
                                                    <img src="assets/img/gallery/whats_news_details1.png" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        {{/each}}


                                    </div>
                                    <!-- Card two -->
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                        aria-labelledby="nav-profile-tab">

                                    </div>
                                </div>
                                <!-- End Nav Card -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Flow Socail -->
                    <div class="d-flex justify-content-between">
                        <div class="d-inline-block">Secretart for Economic Air plane that looks like</div>
                        <img src="assets/img/gallery/whats_news_details1.png" class=" h-100" style="object-fit: cover"
                            alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
    <!--Start pagination -->
    <div class="pagination-area  gray-bg pb-45">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                
                                {{#each this.page_numbers}}
                                {{#if isCurrent}}
                                <li class="page-item active"><a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item "><a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End pagination  -->
</main>